<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.regPage"/>
      <class name="TestNG.bookPage"/>
      <class name="TestNG.loginPage"/>
      <class name="TestNG.NewTest"/>
      <class name="TestNG.SamLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
